# FRED API Key: Get for free at https://fred.stlouisfed.org/docs/api/api_key.html
FRED_API_KEY=

# Currents API Key: Get for free at https://currentsapi.services/en/register
CURRENTS_API_KEY=

# NewsAPI Key: Get for free at https://newsapi.org/register
NEWSAPI_KEY=

# Coinalyze API Key: Register a basic account at https://coinalyze.net/
COINALYZE_API_KEY=


# Onchain & ETF Data Provider: Currently mock/simulation data is used. Set value to "mock" or leave blank.
ONCHAIN_PROVIDER=mock
ETF_PROVIDER=mock

